@import './Layout/_header.scss';
@import './Components/_InfoCards.scss';
@import './Components/blockQuote';
@import './Layout/footer';
@import './Layout/navbar';
@import './Components/unsplash';
@import './Components/wryterbox';
@import './Components/wryterApp';

* {
  box-sizing: border-box;
}
body {
  background: black;
  margin: 0px;
  a {
    text-decoration: none;
    color: inherit;
  }
}
