@import './Layout/_header.scss';
@import './Components/_InfoCards.scss';
@import './Components/blockQuote';
@import './Layout/footer';
@import './Layout/navbar';
@import './Components/unsplash';

* {
  box-sizing: border-box;
}
body {
  background: #d0cfcf;
  margin: 0px;
}
